$dark: #383f45;
$light: #F5F7FA;
$green-dark: #509D56;
$green-light: #60BC67;
$key-fill: #0f0;
$sprite-size: 96px;
$cloud-height: 8vh;

@import url('https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

html,
body {
  background: $dark;
  color: $light;
  height: 100vh;
  overflow: hidden;
}

#title {
  font-size: 8vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1;
}

#subtitle {
  font-size: 6vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1;
}

#socials {
  display: flex;
  flex-direction: row;
  margin: 1vh 2vh 0;
  font-size: 3vh;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 4vh 0 0;
    font-size: inherit;

    > i {
      font-size: 1em;
      margin: 0 1vh 0 0;
      color: $green-light;
    }

    > span {
      font-size: .8em;
      font-family: 'Nunito', sans-serif;
    }
  }
}

#panda {
  height: 100%;
  overflow: hidden;
  position: relative;

  > div {
    overflow: initial;
  }
}
