$dark-dark: #212529;
$dark-light: #383f45;
$green-dark: #509D56;
$green-light: #60BC67;
$light-dark: #F5F7FA;
$key-fill: #0f0;
$sprite-size: 96px;
$cloud-height: 8vh;

$bamboo-segment: $green-light;
$bamboo-joint: $green-dark;
$bamboo-leaf: $green-dark;
$bamboo-leaf-light: $green-light;
$social-icon: $green-light;

@import url('https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

html,
body {
  background: $dark-light;
  color: $light-dark;
  height: 100vh;
  overflow: hidden;
}

#title {
  font-size: 8vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1;
}

#subtitle {
  font-size: 6vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1;
}

#socials {
  display: flex;
  flex-direction: row;
  margin: 1vh 2vh 0;
  font-size: 3vh;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 4vh 0 0;
    font-size: inherit;

    > i {
      font-size: 1em;
      margin: 0 1vh 0 0;
      color: $social-icon;
    }

    > span {
      font-size: .8em;
      font-family: 'Nunito', sans-serif;
    }
  }
}

//.bamboo {
//  font-size: 0;
//  width: 14px;
//  box-sizing: border-box;
//  transform-origin: 50% 100%;
//  filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.25));
//
//  .joint {
//    position: relative;
//    background: $bamboo-segment;
//    width: calc(100% - 6px);
//    height: 80px;
//    margin: auto;
//
//    &:first-child {
//      margin-top: 3px;
//    }
//
//    &:before,
//    &:after {
//      position: absolute;
//      content: "";
//      width: calc(100% + 3px);
//      height: 6px;
//      border-radius: 3px;
//      background: $bamboo-joint;
//      left: 50%;
//      transform: translate(-50%, -50%);
//      z-index: 1;
//    }
//
//    &:before {
//      top: 0%;
//    }
//
//    &:after {
//      top: 100%;
//    }
//
//    .leaf {
//      position: absolute;
//      width: 21px;
//      height: 43px;
//      transform-origin: 50% 100%;
//      bottom: 0;
//
//      &:before {
//        content: "";
//        position: relative;
//        display: block;
//        width: 30px;
//        height: 30px;
//        border-radius: 100% 0;
//        background: $bamboo-leaf;
//        top: 50%;
//        left: 50%;
//        transform: translate(-50%, -50%) rotate(-45deg);
//      }
//
//      &.light {
//        &:before {
//          background: $bamboo-leaf-light;
//        }
//      }
//
//      &.right30,
//      &.right60 {
//        left: -5px;
//      }
//
//      &.right30 {
//        transform: rotate(30deg) scaleX(0.7);
//      }
//
//      &.right60 {
//        transform: rotate(60deg) scaleX(0.7);
//      }
//
//      &.left30,
//      &.left60 {
//        right: -5px;
//      }
//
//      &.left30 {
//        transform: rotate(-30deg) scaleX(0.7);
//      }
//
//      &.left60 {
//        transform: rotate(-60deg) scaleX(0.7);
//      }
//    }
//  }
//}
